DATABASE_URL=postgresql://neondb_owner:YOURPASSWORD@ep-cold-frost-ac05wwww-pooler.sa-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
JWT_SECRET=CHANGE_THIS_TO_A_RANDOM_STRING_32_CHARS
